/*  header footer color */
.theme_bg_color{
	background-color:#132226 ! important;
}


.them_bdr_clor{
	border-color:#132226  ! important;
}

.footer_bg_color{
	background-color:#132226;
}

.them_color{
	color:#132226;
}

.themBrdrClr{
	border-color:#132226 ! important;
}
.dropdown-content a:hover{
	background-color: #132226;
}

.them_btn:after {
    color: #132226;
}


.bottomLbl{
    color: #132226;   
}

.NoBg .hire_form input[type="email"], input[type="text"], select {
	border-bottom: solid 2px #896633;
}

.RCircle{
	background:#132226;
}


.featrLstCrd:hover  {
	background:#132226;
}


.prophead{
	background:#132226;
}

.headTab{
	padding: 10px;
	border-left:10px solid #132226;
}

.clock {
	font-size: 70px;
	color:#132226;
}

.qaActiv{
	background: #132226;
}

.navbar-nav > .active {
	background:#132226 ! important;
}

.proptyFltBtn{
   box-shadow: 0px 8px 16px 0px rgb(78, 77, 69);
}

.PropFrm{
	background: rgba(19, 34, 38, 0.91);
	box-shadow: 0 50px 60px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0, 0, 0, 0.24);
}

.them_color2{
	background:#e0c07d;
}

.viewPropPic:hover {
	bottom:2.9%;
	left:2.9%;
	box-shadow: 6px 5px #896633;
}

.themTxtColor2{
	color:#e0c07d;
}