/*  header footer color */
.theme_bg_color{
    background: linear-gradient(141deg, rgb(133, 92, 18) 0%, rgb(106, 70, 16) 51%, rgb(174, 125, 36) 75%) ! important;
}

.them_bdr_clor{
	border-color:#917e4a ! important;
}

.theme_txt_color{
	color:#000 ! important;
}
.footer_bg_color{
	background-color:#917e4a;
}
.themBrdrClr{
	border-color:#132226 ! important;
}
.dropdown-content a:hover{
	background-color: #917e4a;
}

.them_btn:after {
    color: #ae7d24;
}


.bottomLbl{
    color: #917e4a;   
}


.RCircle{
	background:#917e4a;
}


.featrLstCrd:hover  {
	background:#917e4a;
}


.prophead{
	background:#917e4a;
}

.headTab{
	padding: 10px;
    background: linear-gradient(141deg, rgb(31, 27, 28) 0%, rgb(118, 75, 4) 51%, rgb(29, 9, 1) 75%);	
}

.clock {
	font-size: 70px;
	color:#d6c18a;
}

.them_color{
	color:#917e4a;
}


.qaActiv{
	background:linear-gradient(141deg, rgb(31, 27, 28) 0%, rgb(118, 75, 4) 51%, rgb(29, 9, 1) 75%);
}

.navbar-nav > .active {
	background:#000 ! important;
} 


.proptyFltBtn{
   box-shadow: 0px 8px 16px 0px rgb(78, 77, 69);
}

.PropFrm{
	background: rgba(137, 102, 51, 0.86);
	box-shadow: 0 50px 60px -40px rgba(0,0,0,.35), 0 25px 25px -20px rgba(0, 0, 0, 0.24);
}

.them_color2{
	background:#e0c07d;
}

.viewPropPic:hover {
	bottom:2.9%;
	left:2.9%;
	box-shadow: 6px 5px #917e4a;
}

.themTxtColor2{
	color:#e0c07d;
}

.sec7 > .them_btn:after {
    color: #e0c07d;
}

.NoBg .hire_form input[type="email"], input[type="text"], select {
	/*border-bottom: solid 2px #917e4a; */
}